# Ignore ambientes virtuais
venv/
.venv/
.env/
env/
.python-version

# Ignore arquivos de build/distribuição Python
*.egg-info/
dist/
build/
*.egg

# Ignore arquivos compilados Python
__pycache__/
*.pyc
*.pyo

# Ignore arquivos temporários de IDEs/editors
.vscode/
.idea/
*.swp

# Ignore cache de type checkers
.mypy_cache/
.ruff_cache/

# Ignore logs e arquivos de debug
*.log
*.tmp
